* {
	outline: 2px solid red;
	box-sizing: border-box;
	
}

body {
	font-family: "Roboto", sans-serif;
	margin:0;
}

ul {
	list-style-type: none;
	display:flex;
	margin:0;
	padding: 0;
	gap: 8px;
}

/*header and hero sections*/

.headerandhero {
	display:flex;
	flex-direction: column;
	justify-content:space-around;
	gap: 6vw;
	background-color: #1F2937;
	padding:1vw 10vw 10vw;

}

.header {
	display:flex;
	justify-content: space-between;
	align-items:center;

}

.headerleft {
	font-size: 24px;
	color: #F9FAF8;
	justify-content:center;
}

.hero {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items:center;
	gap: 2vw;
}

.heroleft {
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;
}

.heromain  {
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
	padding:0;
	margin:0;
}

#herobtn {
	margin-top: 1rem;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	color: #F9FAF8;
	font-weight:800;
	font-size:18px;
}

.herosecondary, .headerright  {
	font-size: 18px;
	color: #E5E7EB;
	padding:0;
	margin:0;
}

.heroright {
	display:flex;
	justify-content: flex-end;
}

.heroright img {
	width:300px;
	border-radius: 0.5rem;
	margin:0;
	padding:0;
}

/*info section*/

.infoheader {
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
	text-align:center;
}



.card img {
	border: 2px solid #3882F6;
	border-radius:15px;
	margin:0;
	padding:0;
	flex-basis:200px;
	width:100%;
}


.cards {
	display:flex;
	justify-content:center;
	gap:32px;
	padding: 0vw 5vw 5vw;
	flex-wrap:wrap;
}

.card {
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	max-width:200px;
	flex-shrink:0;
	
}

.subtext {
	padding:0;
	margin:0;
}

/*quote section*/

.quote{
	background-color: #E5E7EB;
	outline: solid 2px red;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding: 5vw 0vw 5vw;
	
}

.quotecontent {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin: 0vw 5vw;
	max-width:900px;
	/* flex: 0 1 450px; */
}

.quotetext{
	font-size: 36px;
	font-weight: 300;
	color: #1F2937;
	/* width:600px; */
	
	padding:0;
	margin:0;
}

.quoteauthor {
	align-self: flex-end;
	font-weight: 800;
}

/* footer */
.footer {
	background-color: #1F2937;	
}

.button, .cta {
	background-color: #3882F6;
	
}
